h1 {
    text-align: center;
}

#container {
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 1200px) {
    #container {
        flex-direction: column;
    }
}

#primaryContent {
    flex: 0 0 60%;
    min-width: 720px;
    padding: 20px;
}

aside {
    margin-left: 20px;
}

#thoughtsContainer, #assumptionsContainer, #reflectionsContainer, #followUpsContainer
{
    font-style: italic;
    color: gray;
}

#followUpsContainer li {
    text-decoration: underline;
    color: rgb(8, 103, 130);
}

#followUpsContainer li:hover {
    color: blue;
}

#chat {
    display: flex;
    flex-direction: column;
    justify-content: center space-between;
    align-items: center;
    font-size: 16px;
}

#chatHistory {
    margin: 0 auto;
    padding: 0px;
    border-radius: 5px;
}

.chatMessage {
    background-color: #fcfcfc;
    border-radius: 20px;
    border: 2px solid #dedede;
    margin: 10px 0;
    padding: 20px;
    width: 85%;
}

.chatMessage.user {
    float: left;
}

.chatMessage.assistant {
    float: right;
    border-color: #ccc;
    background-color: #ffffff;
}

.user img.avatar {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
}

.assistant img.avatar {
    float: right;
    max-width: 60px;
    width: 100%;
    margin-left: 20px;
    margin-right: 0;
    border-radius: 50%;
}

.user .metadata {
    float: right;
    color: #aaa;
}

.assistant .metadata {
    float: left;
    color: #999;
}

#sendMessage {
    padding-top: 20px;
    padding-left: 30px; 
}

#sendMessageButton {
    vertical-align: bottom;
    position: relative;
    left: 0px;
    bottom: 5px;
}

#userMessage {
    max-width: 680px;
    width: 100%;
    height: 50px;
    line-height: 1.5;
    border-radius: 6px;
    border: 1px solid #ccc;
    margin: 0 auto;
    font-size: 16px;
}

#systemMessages {
    color: red;
}

#thinking {
    display: none;
    flex-direction: row;
    justify-content: center space-between;
    text-align: center;
    color: #666;
}

#llm-activity {
    font-style: italic;
}

.loader {
    color: #666;
    font-size: 20px;
    text-indent: -9999em;
    overflow: hidden;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    margin-top: 10px; 
    margin-right: 30px;
    position: relative;
    transform: translateZ(0);
    animation: mltShdSpin 1.7s infinite ease, round 1.7s infinite ease;
    display: block;
}

@keyframes mltShdSpin {
    0% {
        box-shadow: 0 -0.83em 0 -0.4em,
            0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
            0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }

    5%,
    95% {
        box-shadow: 0 -0.83em 0 -0.4em,
            0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
            0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }

    10%,
    59% {
        box-shadow: 0 -0.83em 0 -0.4em,
            -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em,
            -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
    }

    20% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em,
            -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em,
            -0.749em -0.34em 0 -0.477em;
    }

    38% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em,
            -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em,
            -0.82em -0.09em 0 -0.477em;
    }

    100% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em,
            0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
}

@keyframes round {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}

table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    width: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

thead tr {
    background-color: #9c9b9b;
    color: #ffffff;
    text-align: left;
}

th,
td {
    padding: 12px 15px;
}

tbody tr {
    border-bottom: 1px solid #dddddd;
}

tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

tbody tr:last-of-type {
    border-bottom: 2px solid #d3d3d3;
}

tbody tr.active-row {
    font-weight: bold;
    color: #d3d3d3;
}

label {
    display: inline-block;
}

input { 
    border-radius: 5px;
    padding: 10px;
    display: block;
    width: 100%;
    clear: left;
    margin: 5px;
    margin-bottom: 10px;
}

input.required-missing {
    background-color: #efbcc3;
}