h1 {
    text-align: center;
}

#container {
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 1200px) {
    #container {
        flex-direction: column;
    }
}

#primaryContent {
    flex: 0 0 60%;
    padding: 20px;
}

aside {
    margin-left: 20px;
}

#thoughtsContainer, #assumptionsContainer, #reflectionsContainer, #followUpsContainer
{
    font-style: italic;
    color: gray;
}

#followUpsContainer li {
    text-decoration: underline;
    color: rgb(8, 103, 130);
}

#followUpsContainer li:hover {
    color: blue;
}

#chat {
    display: flex;
    flex-direction: column;
    justify-content: center space-between;
    align-items: center;
    font-size: 16px;
    overflow-y: auto;
    max-height: 100vh;
}

#chatHistory {
    margin: 0 auto;
    padding: 0px;
    border-radius: 5px;
    width: 85%;
}

.chatMessage {
    background-color: #fcfcfc;
    border-radius: 20px;
    border: 2px solid #dedede;
    margin: 10px 0;
    padding: 20px;
    width: 85%;
}

.chatMessage.user {
    float: left;
}

.chatMessage.assistant {
    float: right;
    border-color: #ccc;
    background-color: #ffffff;
}

.user img.avatar {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
}

.assistant img.avatar {
    float: right;
    max-width: 60px;
    width: 100%;
    margin-left: 20px;
    margin-right: 0;
    border-radius: 50%;
}

.user .metadata {
    float: right;
    color: #aaa;
}

.assistant .metadata {
    float: left;
    color: #999;
}

#sendMessage {
    padding-top: 20px;
    padding-left: 30px; 
    padding-bottom: 10px;
    width: 90%;
}

#sendMessageForm {
    display: flex;
    justify-content: flex-start;
}

#sendMessageButton {
    float: left;
    width: 32px;
    height: 20px;
    margin-top: auto;
    margin-bottom: 2px;
    margin-left: 5px;
    margin-right: auto;
}

#sendMessageButton:disabled svg {
    fill: lightgray;
}

svg {
    -webkit-transform: translate(0px,0px); /* Safari and Chrome */
    transform: translate(0px,0px);
}

#userMessage {
    width: 100%;
    min-height: 50px;
    line-height: 1.5;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 16px;
}

#systemMessages {
    color: red;
}

#thinking {
    display: none;
    flex-direction: row;
    justify-content: center space-between;
    text-align: center;
    color: #666;
}

#llm-activity {
    font-style: italic;
}

table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    width: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

thead tr {
    background-color: #9c9b9b;
    color: #ffffff;
    text-align: left;
}

th,
td {
    padding: 12px 15px;
}

tbody tr {
    border-bottom: 1px solid #dddddd;
}

tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

tbody tr:last-of-type {
    border-bottom: 2px solid #d3d3d3;
}

tbody tr.active-row {
    font-weight: bold;
    color: #d3d3d3;
}

label {
    display: inline-block;
}

input { 
    border-radius: 5px;
    padding: 10px;
    display: block;
    width: 90%;
    clear: left;
    margin: 5px;
    margin-bottom: 10px;
    margin-right: 20px;
}

input.required-missing {
    background-color: #efbcc3;
}

img.openai {
    width: 512px;
    height: 512px;
    border: 1px solid silver;
}

footer {
    color: gray;
}